.content {
  text-align: center;
  position: relative;
  padding: 49px 0 60px;

  &-blue {
    background-color: $blue;

    h1,
    p {
      color: $white;
    }
  }

  &-lightgray {
    background-color: $lightGray;
  }

  h1 {
    line-height: 52px;
    font-size: 40px;
    font-weight: 300;
  }

  h3 {
    font-size: 20px;
    font-weight: 300;
  }

  p {
    padding-top: 5px;
    line-height: 32px;
    font-size: 20px;
    font-weight: 300;
  }
}

.box-container {
  width: calc(100% - 140px); //140=2xbtn+2xbtn margin
  margin: 0 auto;
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;

  //   border: 1px solid red;
}

.glide {
  max-width: calc(100% - 140px);
}

.glide__slide {
  height: 228px !important;
}

.box {
  background-color: $white;
  height: 228px;
  width: calc(33% - 13px); //13x3 = inbetween 20px margin
  padding: 0 26px;

  h3 {
    color: $blackText;
    padding-top: 36px;
  }

  p {
    color: $grayText;
    font-size: 15px;
    padding: 12px 0;
  }
}

.arrow {
  outline: none;
  background-color: transparent;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: $transition;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 154px; //box height + padding top
  transform: translateY(-50%);

  &:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.05);
    border-color: $lightBlue;
  }

  &-left {
    left: -70px; // 48 width+22 margin

    img {
      position: relative;
      right: 2px;
    }
  }

  &-right {
    right: -70px;

    img {
      position: relative;
      right: -2px;
    }
  }
}
